.section-about{
    background-color: $color-light-grey-1;
    padding: 25rem 3rem; 
    margin-top: -30vh;
    height: 110rem;


    @include respond(tab-land){
        padding: 20rem 3rem;
        margin-top: -35vh;
    }

    @include respond(tab-port){
        padding: 20rem 3rem;
        margin-top: -35vh;
        height: 120rem;
    }

    @include respond(phone){
        padding: 15rem 3rem;
        margin-top: -38vh;
    }

    @include respond(phone-landscape){
        margin-top: -62vh;
    }
}


.section-features{
    padding: 20rem 3rem;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url('../img/nat-4-medium.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    transform: skewY(-7deg);
    margin-top: -20rem;
    
    //Select *(everything) that is the direct child (>) of the  .section-features.  
    & > *{  // .row class is the only direct child of the parent class .section-features.  
        transform: skewY(7deg);
    }

    @include respond(big-desktop){
        background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url('../img/nat-4-large.jpg');

    }

    @include respond(big-desktop-2x){
        background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url('../img/nat-4-large.jpg');
    }


    @include respond(tab-port){
        padding: 10rem 3rem;
    }
}

.section-tours{
    background-color: $color-light-grey-1;
    padding: 25rem 2rem 10rem 2rem;
    margin-top: -10rem;

    @include respond(big-desktop){
        margin-top: -15rem;
    }

    @include respond(tab-port){
        padding: 20rem 2rem 5rem 2rem;
    }
}

.section-stories{
    padding: 8rem 3rem;
    position: relative;

    @include respond(tab-port){
        padding: 10rem 0;
    }

}

.section-book{
    // position: relative;
    padding: 8rem 3rem;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tab-port){
        padding: 10rem 3rem;
    }

}

.book{
    background-image: linear-gradient(105deg, rgba($color-white, .8) 0%,
                                      rgba($color-white, .8) 50%,
                                      rgba($color-white, 0) 50%
                                     ), url("../img/nat-10-medium.jpg");
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 5rem rgba($color-black, .25);

    @include respond(big-desktop){
        background-image: linear-gradient(105deg, rgba($color-white, .8) 0%,
                                      rgba($color-white, .8) 50%,
                                      rgba($color-white, 0) 50%
                                     ), url("../img/nat-10-large.jpg");
    }

    @include respond(big-desktop-2x){
        background-image: linear-gradient(105deg, rgba($color-white, .8) 0%,
                                      rgba($color-white, .8) 50%,
                                      rgba($color-white, 0) 50%
                                     ), url("../img/nat-10-large.jpg");
    }    


    @include respond(tab-land){

         background-image: linear-gradient(105deg, rgba($color-white, .8) 0%,
                                      rgba($color-white, .8) 65%,
                                      rgba($color-white, 0) 65% 
                                     ), url("../img/nat-10.jpg");
    }

    @include respond(tab-port){

        background-image: linear-gradient(to right, rgba($color-white, .8) 0%,
                                     rgba($color-white, .8) 100%), 
                                     url("../img/nat-10.jpg");
   }



    &__form{
        width: 50%;
        padding: 6rem;

        @include respond(tab-land){
            width: 65%;
        }

        @include respond(tab-port){
            width: 100%;
        }
}

}