.header{
    height: 85vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url('/img/hero-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;

    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path:polygon(0 0)){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 95%);
        clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 95%);
        height: 95vh;
    }

    @include respond(big-desktop){
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-primary-light, 0.8), 
            rgba($color-primary-dark, 0.8)), 
            url('/img/hero.jpg');
    
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 95%);
             clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 95%);
    }

    @include respond(big-desktop-2x){  
        background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url('/img/hero.jpg');

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 95%);
        clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 95%);
    }

    @include respond(tab-land){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 63vh, 0 79%);
         clip-path: polygon(0 0, 100% 0, 100% 63vh, 0 79%);
    }

    @include respond(tab-port){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 76%);
         clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 78%);
    }

    @include respond(phone){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 76%);
         clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 76%);

         background-position: center;
    }


    @media(max-width:360px) and (max-height:640px){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85%);
         clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85%);
    }


    @media(max-width:320px) and (max-height:568px){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85%);
         clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85%);
    }

   


    &__logo-box{
        position: absolute;
        top: 40px;
        left: 40px;
    }
    
    &__logo{
        height: 35px;
    }
    
    &__logo:hover{
        animation: moveInRight 2000ms 1s ease-out;
    }

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}

